@use "../styles.scss" as *;

.logo {
  height: 21.5px;
}

@mixin logo-button {
  padding: 10px 24px;

  border: none {
    radius: 28px;
  }

  font: {
    size: 16px;
    weight: $bold;
  }
  line-height: 28px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 16px 16px 38px;

  &-button {
    color: map-get($palette, "White");
    background: map-get($palette, "Black");
    @include logo-button;
  }
}

.hero {
  margin: 0 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &-heading {
    margin: 0 0 26px;
    @include heading-l;
  }

  &-body {
    margin: 0 0 24px;
    @include body-s;
  }

  &-button {
    font-size: 16px;
    font-weight: $bold;
    line-height: 26px;
    color: map-get($palette, "White");

    background: $orange-gradient;
    border: none {
      radius: 31.5px;
    }
    padding: 15px 38px;
    margin: 0;
  }

  &-image-container {
    align-self: center;
  }

  &-image {
    display: block;
    margin: 46px 0 66px;
    width: calc(100vw - 48px);
    max-width: 480px;
  }
}

.courses {
  display: grid;
  row-gap: 40px;
  background: $white-gradient;
  padding: 0 16px 80px;
}

.course-heading {
  background: $orange-gradient;
  font: {
    size: 24px;
    weight: $extra-bold;
  }
  line-height: 32px;
  color: map-get($palette, "White");
  padding: 24px 28px 32px;
  margin: 0;
  border: none {
    radius: 10px;
  }
}

.footer {
  background: map-get($palette, "Black");
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 36px 16px;

  &-button {
    color: map-get($palette, "White");
    background: $blue-gradient;
    @include logo-button;
  }
}

// Tablet
@media (min-width: $tablet-breakpoint) and (max-width: calc($desktop-breakpoint - 1px)) {
  .header {
    margin: 24px 40px 100px;
  }

  .hero {
    margin: 0 0 186px 40px;
    width: 398px;

    &-image {
      margin: 0;
      position: absolute;
      top: -92px;
      right: -298px;
      width: 695px;
      max-width: none;
    }
  }

  .courses {
    padding: 24px 40px 86px;
    grid-template: repeat(3, 259px) / repeat(2, 1fr);
    gap: 56px 12px;
  }

  .course-heading {
    padding: 56px 21px 139px 32px;
  }

  .footer {
    padding: 36px 40px;
  }
}

// Desktop
@media (min-width: $desktop-breakpoint) {
  %logo-button {
    font-size: 18px;
    padding: 14px 32px;
  }

  .header {
    margin: 24px 165px 172px;

    &-button {
      @extend %logo-button;
    }
  }

  .footer {
    padding: 32px 165px;

    &-button {
      @extend %logo-button;
    }
  }

  .hero {
    margin: 0 0 226px 165px;
    width: 457px;

    &-heading {
      @include heading-xl;
      margin: 0 0 29px;
    }

    &-body {
      @include body-m;
      margin: 0 0 40px;
    }

    &-button {
      font-size: 18px;
      line-height: 28px;
      padding: 19px 32px 16px;
      margin: 0;
    }

    &-image {
      margin: 0;
      position: absolute;
      top: -146px;
      right: -336px;
      width: 1046px;
      max-width: none;
    }
  }

  .courses {
    padding: 24px 165px 140px;
    grid-template: repeat(2, 322px) / repeat(3, 1fr);
    gap: 80px 30px;
  }

  .course-heading {
    @include heading-m;
    padding: 64px 32px 138px;
  }
}
