<header class="header">
  <img class="logo" src="/assets/logo-dark.svg" alt="skilled">
  <button class="header-button">Get Started</button>
</header>

<main>
  <section class="hero">
    <h1 class="hero-heading">Maximize skill, minimize budget</h1>
    <p class="hero-body">
      Our modern courses across a range of in-demand skills will give you the
      knowledge you need to live the life you want.
    </p>
    <button class="hero-button">Get Started</button>

    <picture class="hero-image-container">
      <!-- Desktop -->
      <source media="(min-width: 1440px)" type="image/webp" sizes="45vw"
          srcset="/assets/image-hero-desktop.webp 1046w, /assets/image-hero-desktop@2x.webp 2092w">
      <source media="(min-width: 1440px)" type="image/png" sizes="45vw"
          srcset="/assets/image-hero-desktop.png 1046w, /assets/image-hero-desktop@2x.png 2092w">
      <!-- Tablet -->
      <source media="(min-width: 768px)" type="image/webp" sizes="45vw"
          srcset="/assets/image-hero-tablet.webp 695w, /assets/image-hero-tablet@2x.webp 1390w">
      <source media="(min-width: 768px)" type="image/png" sizes="45vw"
          srcset="/assets/image-hero-tablet.png 695w, /assets/image-hero-tablet@2x.png 1390w">
      <!-- Mobile -->
      <source type="image/webp" sizes="calc(100vw - 48px)"
          srcset="/assets/image-hero-mobile.webp 435w, /assets/image-hero-mobile@2x.webp 870w">
      <img class="hero-image" src="/assets/image-hero-mobile.png" sizes="calc(100vw - 48px)"
          srcset="/assets/image-hero-mobile.png 435w, /assets/image-hero-mobile@2x.png 870w"
          alt="woman holds a white cup sitting behind a laptop - 29k members and 1,451 course hours">
    </picture>
  </section>

  <section class="courses">
    <h2 class="course-heading">Check out our most popular courses!</h2>

    <app-course-card course="Animation" src="/assets/icon-animation.svg">
      Learn the latest animation techniques to create stunning motion
      design and captivate your audience.
    </app-course-card>

    <app-course-card course="Design" src="/assets/icon-design.svg">
      Create beautiful, usable interfaces to help shape the future of
      how the web looks.
    </app-course-card>

    <app-course-card course="Photography" src="/assets/icon-photography.svg">
      Explore critical fundamentals like lighting, composition, and focus
      to capture exceptional photos.
    </app-course-card>

    <app-course-card course="Crypto" src="/assets/icon-crypto.svg">
      All you need to know to get started investing in crypto. Go from beginner
      to advanced with this 54 hour course.
    </app-course-card>

    <app-course-card course="Business" src="/assets/icon-business.svg">
      A step-by-step playbook to help you start, scale, and sustain your business
      without outside investment.
    </app-course-card>
  </section>
</main>

<footer class="footer">
  <img class="logo" src="/assets/logo-light.svg" alt="skilled">
  <button class="footer-button">Get Started</button>
</footer>
