$palette: (
  "Black": #13183f,
  "Body text": #83869a,
  "White": #ffffff,
  "Course button": #f74780,
);

$orange-gradient: linear-gradient(180deg, #ff6f48 0%, #f02aa6 100%);
$blue-gradient: linear-gradient(180deg, #4851ff 0%, #f02aa6 100%);
$white-gradient: linear-gradient(180deg, #ffffff 0%, #f0f1ff 100%);

// *****************************************************************************
// Typography
body {
  font-family: "Plus Jakarta Sans", sans-serif;
}

$extra-bold: 800;
$bold: 700;
$medium: 500;

%heading-xl {
  font-weight: $extra-bold;
  font-size: 56px;
  line-height: 70px;
}

%heading-l {
  font-weight: $extra-bold;
  font-size: 40px;
  line-height: 51px;
}

%heading-m {
  font-weight: $extra-bold;
  font-size: 32px;
  line-height: 40px;
}

%heading-s {
  font-weight: $extra-bold;
  font-size: 24px;
  line-height: 28px;
}

%body-m {
  font-weight: $medium;
  font-size: 18px;
  line-height: 28px;
  color: map-get($palette, "Body text");
}

%body-s {
  font-weight: $medium;
  font-size: 16px;
  line-height: 26px;
  color: map-get($palette, "Body text");
}
// *****************************************************************************

body {
  margin: 0;
  overflow-x: clip;
}
